@charset "UTF-8";
/* CSS Document */

.navbar {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	
}

body {
	font-family: 'Montserrat', sans-serif;
}
h3 {
	font-size: 25px;
	text-align: center;
	color: #e6f4f4;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #333031;
	padding: 5%;
	
}

.footer-content {
	background-color: #333031;
	
}

.footer-disclaimer {
	color: #e6f4f4;
	font-family: 'Montserrat', sans-serif;
	padding: .5%;
	margin-left: 2%;
	margin-right: 2%;
}

.footer-legal {
	color: #e6f4f4;
	padding: .5%;
	margin-left: 2%;
	margin-right: 2%;
	
}

.img-fluid {
    position: center;
}

footer {
	margin-top: -3.5em;
	padding-top: 10em;
}

.footer-content {
	margin: 0 auto;
	padding-bottom: 1.7em;
	padding-top: 2.7em;
}

.footer-social {
	display: block;
	width: 100%;
	list-style-type: none;
	text-align: center;
}

.footer-social li {
	display: inline-block;
	margin: 0 1.2em;
}

.footer-social li a {
	line-height: 3.5em;
	display: inline-block;
	width: 4em;
	height: 4em;
	text-align: center;
	border: 2px solid rgba(255,255,255, .3);
	border-radius: 50%;
}

.footer-social li a:hover {
	border-color: #fff;
	background: #fff;
}

.footer-social li a img {
	width: auto;
	height: 1em;
}

.footer-social li a .social-hover {
	display: none;
}

.footer-social li a:hover .social-default {
	display: none;
}

.footer-social li a:hover .social-hover {
	display: inline;
}

.footer-info {
	padding-top: 5em;
}

.footer-info p {
	font-size: .8em;
	color: #fff;
	line-height: 1.55;
	max-width: 36em;
	margin-bottom: 1.7em;
}

.footer-info {
	clear: both;
}

.footer-legal {
	opacity: .8;
}

.footer-credit a:hover {
	text-decoration: none;
}